* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --body-text: #444;
  --body-bg: #f3f3f3;
  --color-white: #fff;
  --color-gray-1: #ccc;
  --color-gray-2: #bbb;
  --color-gray-dark-1: #777;
  --color-gray-dark-2: #888;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--body-text);
  background-color: var(--body-bg);
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  width: 5.25rem;
}

.login {
  display: flex;
  align-items: center;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid var(--color-white);
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid var(--color-gray-1);
}

.login__input::placeholder {
  color: var(--color-gray-2);
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus {
  outline: none;
  color: var(--color-gray-dark-1);
}

/* ********************************
    MAIN
************************************/

.app {
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out anumation */
  /* opacity: 0; */
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: var(--color-gray-dark-2);
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}
